{% extends "store/main.html"%} {% load static %} {% block content %}
<div class="row">
  <div class="col-lg-6">
    <div class="box-element" id="form-wrapper">
      <form id="form">
        <div id="user-info">
          <div class="form-field">
            <input
              type="text"
              class="form-control"
              required
              name="name"
              placeholder="Name.. "
            />
          </div>
          <div class="form-field">
            <input
              type="email"
              class="form-control"
              required
              name="email"
              placeholder="Email.. "
            />
          </div>
        </div>
        <div id="shipping-info">
          <hr />
          <p>Shipping Info</p>
          <hr />
          <div class="form-field">
            <input
              class="form-control"
              type="text"
              name="address"
              placeholder="Address..."
            />
          </div>
          <div class="form-field">
            <input
              class="form-control"
              type="text"
              name="city"
              placeholder="City..."
            />
          </div>
          <div class="form-field">
            <input
              class="form-control"
              type="text"
              name="state"
              placeholder="State..."
            />
          </div>
          <div class="form-field">
            <input
              class="form-control"
              type="text"
              name="zipcode"
              placeholder="Zip code..."
            />
          </div>
          <div class="form-field">
            <input
              class="form-control"
              type="text"
              name="country"
              placeholder="Country..."
            />
          </div>
        </div>

        <hr />
        <input
          id="form-button"
          type="submit"
          value="Continue"
          class="btn btn-success btn-block"
        />
      </form>
    </div>
  </div>
  <div class="col-lg-6">
    <div class="box-element">
      <a href="{% url 'cart'%}" class="btn btn-outline-dark"
        >&#x2190; Back To Cart</a
      >
      <hr />
      <h3>Order Summary</h3>
      <hr />
      {% for item in items %}
      <div class="cart-row">
        <div style="flex: 2;">
          <img src="{{ item.product.imageURL}}" alt="" class="row-image" />
        </div>
        <div style="flex: 2;">
          <p>{{item.product.name}}</p>
        </div>
        <div style="flex: 1;">
          <p>${{item.product.price|floatformat:2}}</p>
        </div>
        <div style="flex: 1;">
          <p>x{{item.quantity}}</p>
        </div>
      </div>
      {% endfor %}
      <h5>Items:{{order.get_cart_items}}</h5>
      <h5>Total:${{order.get_cart_total|floatformat:2}}</h5>
    </div>
    <br />
    <div id="payment-info" class="box-element hidden">
      <small>PayPal Option</small>
      <button id="make-payment" class="btn btn-outline-dark">
        Make Payment
      </button>
    </div>
  </div>
</div>
<script>
  //Dynamically showing form
  var shipping = "{{order.shipping}}";
  if (shipping == "False") {
    document.getElementById("shipping-info").innerHTML = "";
  }

  if (user != "AnonymousUser") {
    document.getElementById("user-info").innerHTML = "";
  }

  if (shipping == "False" && user != "AnonymousUser") {
    //Hide Entire Form If User IS Logged In Or Shipping Id False
    document.getElementById("form-wrapper").classList.add("hidden");
    //show payment button so user can buy item if its logged in and shippment is not required
    document.getElementById("payment-info").classList.remove("hidden");
  }
  //Showing Paument Option
  var form = document.getElementById("form");
  form.addEventListener("submit", (e) => {
    e.preventDefault();
    console.log("Form Submitted");
    //Hidding Form Submit Button
    document.getElementById("form-button").classList.add("hidden");
    //SHowing Payment Info
    document.getElementById("payment-info").classList.remove("hidden");
  });

  //Functionality For To Add On Payment Button
  const submitFormData = (e) => {
    console.log("Hello There Form Is Submitted");
  };
  document
    .getElementById("make-payment")
    .addEventListener("click", submitFormData);
</script>

{% endblock content %}
